  
.cs{
  width: 20rem;
  padding: 10px;
  max-width: 30%;
  
}

.cs1{
  width: fit-content;
  padding:10px;
  max-width: 30%;
}
.cs:hover{
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;

}

.card.body{
  padding:3rem!important;
}

.card.text{
  font-size:0.9rem;
  padding:0.4rem1.9rem;

}
